body {
  font-family: sans-serif;
}

input {
  border-radius: 16px;
  border: none;
  padding: 6px 16px;
}

.input-area {
  background-color: #c1ffff;
  width: 480px;
  height: 30px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.incomplete-area {
  background-color: #c6ffe2;
  width: 480px;
  min-height: 280px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.complete-area {
  background-color: #ffffe0;
  width: 480px;
  min-height: 280px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}
